
@using PagedList.Mvc;
@model PagedList.IPagedList<webTintuc.Areas.Models.TinTuc>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Back/Views/Shared/AdminDashBoard.cshtml";
}
<link href="~/Css/bongDa.css" rel="stylesheet" />
<h1 class="baiviettitle">Bài viết</h1>
@using (Html.BeginForm())
{
    @Html.Hidden("idd", (string)ViewBag.PortfolioId)
    <input type="submit" />
}

<div class=" tatca">
    <a href="#">Tất cả</a>
    <a href="#">|</a>
    <a href="#">Đã xuất bản</a>
    <a href="#">|</a>
    <a href="#">Thùng rác</a>
</div>
<div class=" tatca2">
    <select class="fCategory2" id="">
        <option value="">Tác vụ</option>
        <option value="Hồ Chí Minh">Chỉnh sửa</option>
        <option value="Hà Nội">bỏ vào thùng rác</option>
    </select>
    <a href="#" title="button2 " class="button2 apdung">Áp dụng</a>
    <select class="fCategory3" id="a">
        <option value="">Tất cả các ngày</option>
        <option value="Hồ Chí Minh">Tháng 12 2018</option>
        <option value="Hà Nội">Tháng 11 2018</option>
        <option value="Hà Nội">Tháng 10 2018</option>
        <option value="Hà Nội">Tháng 9 2018</option>
    </select>
    <select class="fCategory3" id="area2">
        <option value="">Tất cả các chuyên mục</option>
        <option value="Hồ Chí Minh">Sức khỏe</option>
        <option value="Hà Nội">Giải trí</option>
        <option value="Hà Nội">Thời tiết</option>
    </select>
    <a href="#" title="button2 " class="button2 loc">Lọc</a>
    @Html.ActionLink("Thêm", "InsertTT",null,new { @class = "button2 themmoi" } )

</div>
<div class=" tieude ">
    <span class="cot1"> Tiêu đề</span>
    <span class="cot2"> Tác giả</span>
    <span class="cot3"> Chuyên mục</span>
    <span class="cot3"> Thời gian đăng</span>
    <span class="cot4"> Thời gian tạo</span>
    <span class="cot5"> Trạng thái</span>
</div>
<div class="danhsach">
    @{int i = 0;string classs = "le";string ngaydang = "";}
    @foreach (var tintuc in Model)
    {
        i++;
        if (i % 2 != 0)
        {
            classs = "le";
        }
        else
        {
            classs = "chan";
        }
    <div class="baiviet @classs ">
        <a href="#"><span class="cot1"> @tintuc.TieuDe1</span> </a>
        <span class="cot2"> @tintuc.TacGia1</span>
        <span class="cot3"> @tintuc.TenDM1</span>
        @if (tintuc.NgayDang1.Year == 1990)
        {
            <span class="cot3"> Chưa đăng</span>
        }
        else
        {
            <span class="cot3"> @tintuc.NgayDang1</span>
        }
        

        <span class="cot4"> @tintuc.NgayTao1</span>
        <div class="ab-b-l">
            @Html.ActionLink("Sửa", "updateTT", new { idTT = tintuc.Id1.ToString() })
        </div>
    </div>
    }

    
</div>


@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

