@model webTintuc.Areas.Models.TinTuc

@{
    ViewBag.Title = "InsertTT";
    Layout = "~/Areas/Back/Views/Shared/AdminDashBoard.cshtml";
}
<script src="~/Plugin/ckeditor/ckeditor.js"></script>
<script src="~/Plugin/ckfinder/ckfinder.js"></script>
<link href="~/Css/tintuc.css" rel="stylesheet" />
<h2>Thêm mới</h2>
<script src="~/Scripts/JavaScript.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*@Html.LabelFor(model => model.TieuDe1, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class=" control-label col-md-2">Tiêu đề </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TieuDe1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TieuDe1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class=" control-label col-md-2">Thẻ tag </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tag1, new { htmlAttributes = new { @class = "form-control inputTag" } })
                @Html.ValidationMessageFor(model => model.Tag1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class=" control-label col-md-2">Chọn thẻ tag </label>
            <div class="col-md-10">
                <select name="selectTag" id="selectDM" onchange="chonTag()">
                    @foreach (var t in ViewBag.listTag)
                    {
                        <option value="@t.Trim()">@t</option>
                    }



                </select>
            </div>
        </div>
        <div class="form-group">
            <label class=" control-label col-md-2">Danh mục </label>
            <div class="col-md-10">
                @*@Html.ListBoxFor(ViewBag.list,)*@
                <select name="selectDM" onchange="">
                    <option value="@Model.DanhMuc1">@Model.TenDM1</option>
                    @foreach (var t in ViewBag.listDM)
                    {
                        <option value="@t.Id">@t.Ten</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Tag1, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <label class=" control-label col-md-2">Từ khóa </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TuKhoa1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TuKhoa1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class=" control-label col-md-2">Nội dung </label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoiDung1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoiDung1, "", new { @class = "text-danger" })
            </div>
            <script type="text/javascript">
                CKEDITOR.replace("NoiDung1");
            </script>
        </div>
        <div class="form-group">
            <label class=" control-label col-md-2">Ảnh hiển thị </label>
            <div class="col-md-10 anh_them_tt">

                <img id="imgtt" src="@Model.Anh1" /> <br>
                <button type="button" id="selectimg"> Chọn ảnh</button>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>
    <input type="hidden" name="url" class="url" />
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
