
@{
    Layout = "~/Areas/Front/Views/Shared/Layout.cshtml";
}

<div class="bodyof2">
    <div class="leftbody2">
        <h2 class="title2">
            <a href="#">@Model.TenDM1</a>
        </h2>
        <h2 class="undertitle">
            @Model.TieuDe1
        </h2>
        <div class="timeDiv">
            @Model.NgayTao1
        </div>

        @Html.Raw(Model.NoiDung1)
        <p class="kyten">Theo @Model.TacGia1</p>
    </div>
    <div class="rightbody2">
        <div class="right-body">
            <div class="right-body1">
                @foreach (var item in ViewBag.listTT4)
                {
                    <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                        <div class="story__thumb story__thumb_r">
                            <a href="/Front/Home/ChiTiet/@item.Id1" target="_blank">

                                <img class="round-img" src="@item.Anh1" />

                            </a>
                        </div>
                        <div class="story__thumb2">
                            <h4 class="story__heading story__headingr"><a href="/Front/Home/ChiTiet/@item.Id1">@item.TieuDe1</a></h4>
                            <div class="story__meta">

                                <a class="tinytext" href="#">1 giờ</a>
                                <a class="tinytext" href="#">82 liên quan</a>
                            </div>

                        </div>
                    </div>
                }

            </div>
            <!-- Banner -->
            <div class="right-body2">
                <img src="~/Img/banner_hcm_02-min.png" />
                <!-- Banner -->
            </div>
        </div>
    </div>

</div>