
@{
    Layout = "~/Areas/Front/Views/Shared/Layout.cshtml";
}

<div class="bodyof2">
    <div class="leftbody2">
        <h2 class="title2">
            <a href="#">@Model.TenDM1</a>
        </h2>
        <h2 class="undertitle">
            @Model.TieuDe1
        </h2>
        <div class="timeDiv">
            @Model.NgayTao1
        </div>

        @Html.Raw(Model.NoiDung1)
        <p class="kyten">Theo @Model.TacGia1</p>
    </div>
    <div class="rightbody2">
        <div class="right-body">
            <div class="right-body1">
                <!-- start -->
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="#" target="_blank">

                            <img class="round-img" src="Img/new/right/bikip.jpg" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="#">Bí kíp '5 ấm, 1 mát' giúp cả nhà tránh ho suốt mùa đông</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">1 giờ</a>
                            <a class="tinytext" href="#">82 liên quan</a>
                        </div>

                    </div>
                </div>
                <!-- End -->
                <!-- start -->
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="#" target="_blank">

                            <img class="round-img" src="Img/new/tin3.jpg" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="#">Thủ tướng: Tại sao cùng chủ trương, cơ chế chính sách mà nơi làm tốt, nơi trì trệ?</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">2 giờ</a>
                            <a class="tinytext" href="#">2 liên quan</a>
                        </div>

                    </div>
                </div>
                <!-- End -->
                <!-- start -->
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="#" target="_blank">

                            <img class="round-img" src="Img/new/right/tiendat.jpg" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="#">Rapper Tiến Đạt khẳng định tình yêu của mình khiến nhiều người ghen tị</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">1 giờ</a>
                            <a class="tinytext" href="#">2 liên quan</a>
                        </div>

                    </div>
                </div>
                <!-- End -->
                <!-- start -->
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="#" target="_blank">

                            <img class="round-img" src="Img/new/right/thoitiet.jpg" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="#">Áp thấp nhiệt đới di chuyển dần về khu vực quần đảo Hoàng Sa</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">7 giờ</a>
                            <a class="tinytext" href="#">VOV</a>
                        </div>

                    </div>
                </div>
                <!-- End -->
                <!-- start -->
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="#" target="_blank">

                            <img class="round-img" src="Img/new/right/no.jpg" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="#">Nổ trạm biến áp 'nhuộm' xanh bầu trời New York như phim viễn tưởng</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">5 giờ</a>
                            <a class="tinytext" href="#">31 liên quan</a>
                        </div>

                    </div>
                </div>
                <!-- End -->
                <!-- start -->
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="#" target="_blank">

                            <img class="round-img" src="Img/new/tongbithu.png" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="#">Tổng Bí thư, Chủ tịch nước Nguyễn Phú Trọng</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">1 giờ</a>
                            <a class="tinytext" href="#">82 liên quan</a>
                        </div>

                    </div>
                </div>
                <!-- End -->
                <!-- start -->
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="#" target="_blank">

                            <img class="round-img" src="Img/new/moingay.jpg" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="#"> Mỗi ngày gửi cho nhau một tin tốt, môi trường Internet sẽ trong lành hơn</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">2 giờ</a>
                            <a class="tinytext" href="#">12 liên quan</a>
                        </div>

                    </div>
                </div>
                <!-- End -->
                <!-- start -->
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="#" target="_blank">

                            <img class="round-img" src="Img/new/benhvetim.jpg" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="#">Bệnh về tim mạch có tỉ lệ tử vong hàng đầu ở Việt Nam</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">6 giờ</a>
                            <a class="tinytext" href="#">41 liên quan</a>
                        </div>

                    </div>
                </div>
                <!-- End -->
                <!-- start -->
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="#" target="_blank">

                            <img class="round-img" src="Img/new/hinhanh.jpg" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="#">Hình ảnh Honda Rebel 2019 và X-ADV với 'trang phục' mới</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">7 giờ</a>
                            <a class="tinytext" href="#">51 liên quan</a>
                        </div>

                    </div>
                </div>
                <!-- End -->
                <!-- start -->
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="#" target="_blank">

                            <img class="round-img" src="Img/new/tuocgiayphep.jpg" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="#">Tước giấy phép công ty bị 'mất tích' 23 du khách tại Đài Loan</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">5 giờ</a>
                            <a class="tinytext" href="#">31 liên quan</a>
                        </div>

                    </div>
                </div>
                <!-- End -->
                <!-- start -->
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="#" target="_blank">

                            <img class="round-img" src="Img/new/right/tuvog.jpg" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="#">27 người tử vong trong ngày đầu nghỉ Tết dương lịch</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">1 giờ</a>
                            <a class="tinytext" href="#">82 liên quan</a>
                        </div>

                    </div>
                </div>
                <!-- End -->
            </div>
            <!-- Banner -->
            <div class="right-body2">
                <img class="banner1" src="Img/banner_hcm_02-min.png" />
                <!-- Banner -->
            </div>
        </div>
    </div>

</div>