
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Front/Views/Shared/Layout.cshtml";
}

<div class="all-body">
    <div class="left-body">
        <img src="@ViewBag.listTT4[0].Anh1" />
        <br /><br />
        <a class="ahead caption" href="/Front/Home/ChiTiet/@ViewBag.listTT4[0].Id1"
           title="Điều gì giúp GDP năm 2018 tăng 7,08%, cao nhất trong 11 năm trở lại đây?">
            @ViewBag.listTT4[0].TieuDe1

            <div class="story__meta">

                <a class="tinytext" href="#">1 giờ</a>
                <a class="tinytext" href="#">82 liên quan</a>
            </div>
        </a><br />
        <div class="part2">
            <div class="img3">
                <img src="@ViewBag.listTT4[1].Anh1" /><br />
                <a class="ahead1 " href="/Front/Home/ChiTiet/@ViewBag.listTT4[1].Id1">
                    @ViewBag.listTT4[1].TieuDe1
                </a>
            </div>
            <div class="img3 imggiua">
                <img src="@ViewBag.listTT4[2].Anh1" /><br />
                <a class="ahead1 " href="/Front/Home/ChiTiet/@ViewBag.listTT4[2].Id1">
                    @ViewBag.listTT4[2].TieuDe1
                </a>
            </div>
            <div class="img3 imgthu3">
                <img src="@ViewBag.listTT4[3].Anh1" /><br />
                <a class="ahead1" href="/Front/Home/ChiTiet/@ViewBag.listTT4[3].Id1">
                    @ViewBag.listTT4[3].TieuDe1
                </a>
            </div>
        </div>
        <hr />
        <!-- start -->
        @for (int i = 2; i <= 4; i++)
        {
            <div class="story is-first" data-aid="29155904" data-track="|index0">
                <div class="story__thumb">
                    <a href="/Front/Home/ChiTiet/@ViewBag.listTT4[i].Id1" target="_blank">

                        <img src="@ViewBag.listTT4[i].Anh1" />

                    </a>
                </div>
                <div class="story__thumb2">
                    <h4 class="story__heading"><a href="/Front/Home/ChiTiet/@ViewBag.listTT4[i].Id1">@ViewBag.listTT4[i].TieuDe1</a></h4>
                    <div class="story__meta">

                        <a class="tinytext" href="#">1 giờ</a>
                        <a class="tinytext" href="#">82 liên quan</a>
                    </div>

                </div>
            </div>
        }

        <!-- End -->
        <!-- End -->
        <!-- start -->
        <hr />


        <!-- start -->

        <h2 class="title tieudedanhmuc">
            <a href="/Front/ChuDe/Index/@ViewBag.listDM1[0].Id1">@ViewBag.listDM1[0].TenDM1</a>
        </h2>
        <div class="main_ct">
            <div class="m_left">
                <a href="/Front/Home/ChiTiet/@ViewBag.listDM1[0].Id1"><img width="340" height="255" src="@ViewBag.listDM1[0].Anh1" alt="Nội bộ ĐT Iraq mâu thuẫn lớn trước trận ra quân gặp Việt Nam"></a>
                <div class="text">
                    <h5>
                        <a href="/Front/Home/ChiTiet/@ViewBag.listDM1[0].DanhMuc1">@ViewBag.listDM1[0].TieuDe1</a>
                    </h5>

                </div>
            </div>
            <div class="m_right">

                <ul>
                    @for (int i = 1; i <= 4; i++)
                    {
                        <li>
                            <a href="#"><img width="165" height="124" src="@ViewBag.listDM1[i].Anh1"></a><h6>
                                <a href="/Front/Home/ChiTiet/@ViewBag.listDM1[i].Id1">@ViewBag.listDM1[i].TieuDe1</a>
                            </h6>

                        </li>
                    }



                </ul>

            </div>

        </div>
        <!-- End -->
        <!-- start -->
        <hr />

        <!-- End -->

    </div>
    <div class="right-body">
        <div class="right-body1">
            <!-- start -->
            @foreach (var item in ViewBag.listTT4)
            {
                <div class="story story-r is-first" data-aid="29155904" data-track="|index0">
                    <div class="story__thumb story__thumb_r">
                        <a href="/Front/Home/ChiTiet/@item.Id1" target="_blank">

                            <img class="round-img" src="@item.Anh1" />

                        </a>
                    </div>
                    <div class="story__thumb2">
                        <h4 class="story__heading story__headingr"><a href="/Front/Home/ChiTiet/@item.Id1">@item.TieuDe1</a></h4>
                        <div class="story__meta">

                            <a class="tinytext" href="#">1 giờ</a>
                            <a class="tinytext" href="#">82 liên quan</a>
                        </div>

                    </div>
                </div>
            }

            <!-- End -->

        </div>
        <!-- Banner -->
        <div class="right-body2">
            <img src="~/Img/banner_hcm_02-min.png" />
            <!-- Banner -->
        </div>
    </div>
</div>
